<!DOCTYPE html>
<html>
<head>
  <title>Henko</title>
  <%= stylesheet_link_tag    "henko/application", :media => "all" %>
  <%= javascript_include_tag "henko/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
