<!DOCTYPE html>
<html>
<head>
  <title>ChangeLogger</title>
  <%= stylesheet_link_tag    "change_logger/application", :media => "all" %>
  <%= javascript_include_tag "change_logger/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
